* {
	box-sizing: border-box;
}

:root {
	--primary-ff: 'Nova Mono', monospace;
	--secondary-ff: 'Syne Mono', monospace;
}

html,
body {
	background-color: rgb(58, 58, 58);
	margin: 0;
	padding: 0;
	color: rgb(202, 219, 235);
	font-family: var(--primary-ff);
	cursor: default;
}

header {
	text-align: center;
	padding: 4rem;
	font-size: 5em;
}

.game-panel {
	text-align: center;
	padding-bottom: 3rem;
}

.game-panel__player-choices {
	font-size: 2rem;
	padding-bottom: 2rem;
}

.game-panel__player-choices span {
	margin: 0 1.5rem;
	cursor: pointer;
}

.player-panel {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

h2 {
	letter-spacing: 0.1em;
}

#random-game {
	text-align: center;
	padding: 2rem 0;
}

.player,
.cpu,
.turn {
	padding: 0 2rem;
	margin: 0 2rem;
}
.player-choice h4,
.cpu-choice h4,
.turn-info p {
	text-align: center;
	font-size: 2.5rem;
}

.turn-info p {
	margin: 4.3rem 0;
	font-size: 1.6em;
}

#result-text {
	font-size: 2rem;
	padding-top: 2rem;
	display: none;
}

.game-info-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	background-color: rgb(209, 207, 207);
	padding: 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
	text-align: center;
}

.game-info-modal p {
	font-size: 2em;
	color: black;
}

.game-info-modal button {
	cursor: pointer;
	outline: none;
	font-size: 1.2rem;
	font-family: var(--secondary-ff);
	border: none;
	border-radius: 0.2rem;
	background-color: rgb(108, 180, 248);
	padding: 1rem;
	margin-top: 2rem;
	transition: background-color 0.2s;
}

.game-info-modal button:hover {
	background-color: rgb(131, 189, 243);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}

.hidden {
	display: none;
}
